.contact-page{
    position: relative;
    top: 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.contact-spacer{
    width: 100%;
    height: 10vw;
}

.form{
    position: relative;
    background-color: blue;
    height: 32.5vw;
    opacity: 0.5;
}

.form textarea{
    height: 15vw;
    width: 40vw;
}

.form input{
    height: 1.5vw;
}

.dark-arts{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.name-input{
    width: 10vw;
}

.contact-text{
    color: black;
    align-items: center;
    justify-content: center;
}

.contact-text h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 4.4vw;

    margin: 0;
    padding: 0;
}

.contact-text h2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 2vw;

    margin: 0;
    padding: 0;
}