.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 7.5vw;
    background-color: #110022;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .footer-contents li{
      list-style: none;
  }

  .footer-again{
      display: flex;
      align-items: center;
  }

  .footer-again span{
      font-family: 'IBM Plex Serif', serif;
      font-size: 1.5vw;
      color: rgba(255, 255, 255, 0.85);
  }

  .footer-logo{
      height: 7vw;
      padding-right: 6vw;
  }